.userloginbuttoncenter {
  margin-top: 20px;
  text-align: center !important;
}

.login-box {
  @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
  margin: 1rem;
  overflow: auto;
  padding: 40px;
  text-align: left;
  width: 30rem;
}

@media only screen and (max-width: 992px) {
  .login-box {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .login-box {
    width: 90%;
  }
}
