* {
  box-sizing: border-box;
}

.timelinebody {
  overflow-x: hidden;
  width: 100%;
}

.timelinecontainer {
  background-color: inherit;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  width: 50%;
}

.timelinecontainer2 {
  background-color: inherit;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  width: 50%;
}

.timelinecontainer3 {
  background-color: inherit;
  padding: 10px 40px;
  padding-bottom: 42px;
  position: relative;
  width: 50%;
}

.timeline {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.timeline::after {
  background-color: #1661ab;
  bottom: 0;
  content: '';
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 0;
  width: 8px;
  z-index: -1;
}

.pl {
  padding-bottom: 60px;
}

.timelinecontainer::after {
  background-color: #f7f7f7;
  border: 4px solid #1661ab;
  border-radius: 50%;
  content: '';
  height: 25px;
  position: absolute;
  right: -17px;
  top: 15px;
  width: 25px;
}

.timelinecontainer2::after {
  color: #1661ab;
  content: '\25BC';
  font-size: 3.75em;
  height: 25px;
  position: absolute;
  right: -17px;
  top: -57px;
  width: 25px;
}

.timelinecontainer3::after {
  color: #1661ab;
  content: '\25BC';
  font-size: 3.75em;
  height: 25px;
  position: absolute;
  right: -19px;
  top: -37px;
  width: 25px;
}

.timelinemid2 {
  left: -27px;
}

.timelinemid {
  left: -25px;
}

.timelineleft {
  left: -8px;
}

.timelineright {
  left: 50%;
}

.timelineleft::before {
  border: medium solid #f7f7f7;
  border-color: transparent transparent transparent #f7f7f7;
  border-width: 10px 0 10px 10px;
  content: ' ';
  height: 0;
  position: absolute;
  right: 15px;
  top: 22px;
  width: 0;
}

.timelineright::before {
  border: medium solid #f7f7f7;
  border-color: transparent #f7f7f7 transparent transparent;
  border-width: 10px 10px 10px 0;
  content: ' ';
  height: 0;
  left: 16px;
  position: absolute;
  top: 22px;
  width: 0;
}

.timelineright::after {
  left: -16px;
}

.timelinecontentBlock {
  background-color: #f7f7f7;
  border-radius: 6px;
  padding-bottom: 0.03px;
  padding-top: 16px;
  position: relative;
}

@media screen and (max-width: 780px) {
  .timeline::after {
    left: 22px;
  }

  .timelinecontainer {
    padding-bottom: 10px;
    padding-left: 68px;
    padding-right: 25px;
    width: 110%;
  }

  .timelinecontainer::before {
    border: medium solid #f7f7f7;
    border-color: transparent #f7f7f7 transparent transparent;
    border-width: 10px 10px 10px 0;
    left: 60px;
  }

  .timelineright::after {
    left: 14px;
  }

  .timelineleft::after {
    left: 14px;
  }

  .timelineright {
    left: -8px;
  }

  .timelinemid2::after {
    left: 16.5px;
  }

  .timelinemid::after {
    left: 14px;
  }

}
