.accordion {
  margin: 0 auto;
  max-width: 1400px;
}

.accordion > section {
  padding: 0;
}

.accordion > section > input:not(:checked) ~ .detail-leaf {
  display: none;
}

.accordion > section > input:checked ~ .accordion-title,
.accordion > section > .accordion-title:hover {
  background: #1661ab;
  color: #fff;
}

.accordion > section > input:checked ~ .accordion-title label::after {
  transform: rotate(180deg);
}

.accordion > section > input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.accordion > section > .accordion-title {
  border: 1px solid #eee;
  box-shadow: 0 1px 7px #dbdbdb;
  font-size: 36px;
  margin-bottom: 0;
  margin-top: 20px;
}

.journal-accordion > section > .accordion-title {
  border: 0;
  box-shadow: none;
  color: #1661ab;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 20px;
  width: 5px;
}

.journal-accordion > section > input:checked ~ .accordion-title,
.journal-accordion > section > .accordion-title:hover {
  background: none;
  color: #1661ab;
}

.journal-accordion > section > .accordion-title label::after {
  padding-left: 8px;
}

.journal-accordion > section > .accordion-title label {
  padding-left: 8px;
}

.search-accordion > section > .accordion-title {
  border: 1px solid #c4c4c4;
  box-shadow: none;
  margin-top: -1px;
}

.accordion > section > h2 label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
}

.accordion > section > p label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-top: 8px;
}

.accordion > section > input:focus-visible ~ h2,
.js-focus-visible .accordion > section > input.focus-visible ~ h2,
.accordion > section > input:focus-visible ~ p,
.js-focus-visible .accordion > section > input.focus-visible ~ p {
  outline: var(--cdli-blue) auto 1px;
}

.accordion > section > .accordion-title label::after {
  align-self: center;
  content: '\f078';
  font-family: 'fontawesome';
  font-size: 0.8rem;
  transition: transform 0.3s ease;
}

.accordion > section > .detail-leaf {
  border: 1px solid #eee;
  padding: 1em 3em;
}

.journal-accordion > section > .detail-leaf {
  border: 0;
  padding: 1em 0;
}

@media only screen and (min-width: 992px) {
  .my-acc > section > .accordion-title {
    border: 0;
    box-shadow: none;
  }

  .my-acc > section > input:checked ~ .accordion-title,
  .my-acc > section > .accordion-title:hover {
    background: none;
    color: #000;
  }

  .my-acc > section > input:not(:checked) ~ .detail-leaf {
    display: block;
  }

  .my-acc .accordion-title label::after {
    display: none;
  }

  .my-acc > section > h2 label {
    cursor: url('CURSOR_URL'), auto;
    font-weight: lighter;
  }

  .my-acc>section>.detail-leaf {
    border: 0;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 991px) {
  .my-acc > section > h2 label {
    font-size: 20px;
    font-weight: lighter;
  }

  .mid-sp {
    margin-top: -20px;
  }

  .bot-sp {
    margin-bottom: 12px;
  }
}
